<%= render 'shared/navbar' %>

<div class="container mt-5">
  <h1 class="text-center"><%= @list.name.capitalize %> Details</h1>

  <% if @list.cover_image.attached? %>
    <div class="text-center">
      <%= cl_image_tag @list.cover_image.key, height: 400, width: 800, crop: "fill" %>
    <div>
  <% end %>

  <p>Name: <%= @list.name %></p>

  <h2>Bookmarks</h2>

  <% @list.bookmarks.each do |bookmark| %>
    <div>
      <p>Movie: <%= bookmark.movie.title %></p>
      <%= image_tag bookmark.movie.poster_url %>
      <p>Comment: <%= bookmark.comment %></p>
      <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  <% end %>

  <p><%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %></p>

  <div>
    <%= link_to 'Back to Lists', lists_path %>
  </div>
</div>
